<%= form_with(model: timetable, local: true) do |form| %>
  <% if timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% timetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 
 
      <!--  <div class="field">                             ・・・学年～時限はいじられないようコメントアウトしてます 
          <%= form.label :学年 %>
          <%= form.select :grate_id, Grate.all.map { |b| [b.gakunen,b.id] } %>
        </div>

        <div class="field">
          <%= form.label :クラス %>
          <%= form.select :gclass_id, Gclass.all.map { |b| [b.kumi,b.id] } %>
        </div>

        <div class="field">
          <%= form.label :日付け %>
          <%= form.date_select :hiduke, id: :timetable_hiduke %>
        </div>

        <div class="field">
          <%= form.label :時限 %>
          <%= form.select :clock_id, Clock.all.map { |b| [b.zigen,b.id] } %>
        </div> -->
  

  <div class="field">
    <%= form.label :教科 %>
    <%= form.select :title_id, Title.all.map { |b| [b.kyouka,b.id] } %>
  </div>

  <button type="button" class="" data-toggle="modal" data-target="#sampleModal">
	教科を検索
  </button>

    <!-- モーダル・ダイアログ -->
    <div class="modal fade" id="sampleModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            <h4 class="modal-title">タイトル</h4>
          </div>
          <div class="modal-body">
            本文
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary">ボタン</button>
          </div>
        </div>
      </div>
    </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content, id: :timetable_content %>
  </div>

  <div class="field">
    <%= form.label :課題 %>
    <%= form.text_area :task, id: :timetable_task %>
  </div>

  <div class="field">
    <%= form.label :必要なもの %>
    <%= form.text_area :need, id: :timetable_need %>
  </div>

  <div class="field">
    <%= form.label :教室 %>
    <%= form.select :classroom_id, Classroom.all.map { |b| [b.kyousitsu,b.id] } %>
  </div>

  <div class="field">
    <%= form.label :先生 %>
    <%= form.select :teacher_id, Teacher.all.map { |b| [b.sensei,b.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
