<%= form_with(model: timetable, local: true) do |form| %>
  <% if timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% timetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.number_field :grade_id, id: :timetable_grade_id %>
  </div>

  <div class="field">
    <%= form.label :クラス %>
    <%= form.number_field :gclass_id, id: :timetable_gclass_id %>
  </div>

  <div class="field">
    <%= form.label :日付け %>
    <%= form.date_select :hiduke, id: :timetable_hiduke %>
  </div>

  <div class="field">
    <%= form.label :時限 %>
    <%= form.number_field :timed, id: :timetable_timed %>
  </div>

  <div class="field">
    <%= form.label :教科 %>
    <%= form.text_field :title, id: :timetable_title %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content, id: :timetable_content %>
  </div>

  <div class="field">
    <%= form.label :課題 %>
    <%= form.text_area :task, id: :timetable_task %>
  </div>

  <div class="field">
    <%= form.label :必要なもの %>
    <%= form.text_area :need, id: :timetable_need %>
  </div>

  <div class="field">
    <%= form.label :教室 %>
    <%= form.text_field :classroom, id: :timetable_classroom %>
  </div>

  <div class="field">
    <%= form.label :先生 %>
    <%= form.text_field :teacher, id: :timetable_teacher %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
