<%= form_with(model: timetable, local: true) do |form| %>
    <% if timetable.errors.any? %>
      <div id="error_explanation">
        <h2>※　<%= pluralize(timetable.errors.count,"") %>つの入力ミスがあります</h2>

        <div class="error">
        <% timetable.errors.full_messages.each do |message| %>
          <p>▪<%= message %></p>
        <% end %>
        </div>

      </div>
    <% end %>

 
      <!--  <div class="field">                             ・・・学年～時限はいじられないようコメントアウトしてます 
          <%= form.label :学年 %>
          <%= form.select :grate_id, Grate.all.map { |b| [b.gakunen,b.id] } %>
        </div>

        <div class="field">
          <%= form.label :クラス %>
          <%= form.select :gclass_id, Gclass.all.map { |b| [b.kumi,b.id] } %>
        </div>

        <div class="field">
          <%= form.label :日付け %>
          <%= form.date_select :hiduke, id: :timetable_hiduke %>
        </div>

        <div class="field">
          <%= form.label :時限 %>
          <%= form.select :clock_id, Clock.all.map { |b| [b.zigen,b.id] } %>
        </div> -->
  
        
    <div class="field">
      <%= form.label :〇教科 %>
      <div  id="selectkyoka">
        ※教科を選択してください。
      </div>
    </div>
 
    <div class="button">
      <button type="button" class="" data-toggle="modal" data-target="#sampleModal" >
      教科を選択
      </button>
    </div>

    <!-- モーダル・ダイアログ -->
    <div class="modal fade" id="sampleModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            <h4 class="modal-title">～教科を選択～</h4>
          </div>
          <div class="modal-body">

          <!-- タブメニュー -->

          <input type="radio" name="tab_item" id="tab_radio_not_1" class="tab_radio">
          <label for="tab_radio_not_1" class="tab_menu">特殊</label>


          <input type="radio" name="tab_item" id="tab_radio_A" class="tab_radio">
          <label for="tab_radio_A" class="tab_menu">あ行</label>
          
           <input type="radio" name="tab_item" id="tab_radio_B" class="tab_radio">
          <label for="tab_radio_B" class="tab_menu">か行</label>
          
          <input type="radio" name="tab_item" id="tab_radio_C" class="tab_radio">
          <label for="tab_radio_C" class="tab_menu">さ行</label>

          <input type="radio" name="tab_item" id="tab_radio_D" class="tab_radio">
          <label for="tab_radio_D" class="tab_menu">た行</label>

          <input type="radio" name="tab_item" id="tab_radio_E" class="tab_radio">
          <label for="tab_radio_E" class="tab_menu">な行</label>

          <input type="radio" name="tab_item" id="tab_radio_F" class="tab_radio">
          <label for="tab_radio_F" class="tab_menu">は行</label>

          <input type="radio" name="tab_item" id="tab_radio_G" class="tab_radio">
          <label for="tab_radio_G" class="tab_menu">ら行</label>

          


          <!-- タブnot_1 表示内容 -->
          <div id="tab_contains_not_1" class="tab_contains">
            <% yomi = @titles.where(yomi:'特殊') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

              <% kyo =  yomi[a].kyouka %>
              <% kyo_id = yomi[a].id %>
              
              <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              
              <% a += 1 %>
            <% end %>
          </div>
          
            <!-- タブA 表示内容 -->

          

          <div id="tab_contains_A" class="tab_contains">
            <% yomi = @titles.where(yomi:'あ行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>
             
             <% kyo =  yomi[a].kyouka %>
             <% kyo_id = yomi[a].id %>

             <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
             <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>

              <% a += 1 %>
            <% end %>
          </div>
          
            <!-- タブB 表示内容 -->
          <div id="tab_contains_B" class="tab_contains">
            <% yomi = @titles.where(yomi:'か行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

              <% kyo =  yomi[a].kyouka %>
              <% kyo_id = yomi[a].id %>

              <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              <br>
              <% a += 1 %>
            <% end %>
          </div>
          
            <!-- タブC 表示内容 -->
          <div id="tab_contains_C" class="tab_contains">
            <% yomi = @titles.where(yomi:'さ行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

               <% kyo =  yomi[a].kyouka %>
               <% kyo_id = yomi[a].id %>
              
               <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
               <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              <br>
              <% a += 1 %>
            <% end %>
          </div>

          <!-- タブD 表示内容 -->
          <div id="tab_contains_D" class="tab_contains">
            <% yomi = @titles.where(yomi:'た行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

              <% kyo =  yomi[a].kyouka %>
              <% kyo_id = yomi[a].id %>
              
              <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              <br>
              <% a += 1 %>
            <% end %>
          </div>

          <!-- タブE 表示内容 -->
          <div id="tab_contains_E" class="tab_contains">
            <% yomi = @titles.where(yomi:'な行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

              <% kyo =  yomi[a].kyouka %>
              <% kyo_id = yomi[a].id %>
              
              <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              <br>
              <% a += 1 %>
            <% end %>
          </div>

          <!-- タブF 表示内容 -->
          <div id="tab_contains_F" class="tab_contains">
            <% yomi = @titles.where(yomi:'は行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

              <% kyo =  yomi[a].kyouka %>
              <% kyo_id = yomi[a].id %>
              
              <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              <br>
              <% a += 1 %>
            <% end %>
          </div>

          <!-- タブG 表示内容 -->
          <div id="tab_contains_G" class="tab_contains">
            <% yomi = @titles.where(yomi:'ら行') %>
            <% yoso = yomi.length %>
            <% a = 0 %>
            <% yoso.times do %>

              <% kyo =  yomi[a].kyouka %>
              <% kyo_id = yomi[a].id %>
              
              <input type="radio" value="<%= kyo_id %>" name="timetable[title_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyouka, "#{kyo}", {style: "display: inline-block;"} %>
              <br>
              <% a += 1 %>
            <% end %>
          </div>

          
    
          

          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="titlebutton">決定</button>
          </div>
        </div>
      </div>
    </div>

  

  <div class="field">
    <%= form.label :〇内容 %>
    <div class="contenttext">
    <%= form.text_area :content, id: :timetable_content %>
    </div>
  </div>

  <div class="field">
    <%= form.label :〇課題 %>
    <div class="contenttext">
    <%= form.text_area :task, id: :timetable_task %>
    </div>
  </div>

  <div class="field">
    <%= form.label :〇必要なもの %>
    <div class="contenttext">
    <%= form.text_area :need, id: :timetable_need %>
    </div>
  </div>
  
  
  <div class="field">
   <%= form.label :〇教室 %>
   <div id="selectroom">
   ※教室を選択してください。
   </div>
  </div>

  <div class="button">
  <button type="button" class="" data-toggle="modal" data-target="#sampleModal3">
	教室を選択
  </button>
  </div>

    <!-- モーダル・ダイアログ -->
    <div class="modal fade" id="sampleModal3" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            <h4 class="modal-title">～教室を選択～</h4>
          </div>
          <div class="modal-body">

          <!-- タブメニュー -->

          <input type="radio" name="tab_item" id="tab_radio_not_2" class="tab_radio">
          <label for="tab_radio_not_2" class="tab_menu">特殊</label>

          <input type="radio" name="tab_item" id="tab_radio_H" class="tab_radio">
          <label for="tab_radio_H" class="tab_menu">〇年〇組教室</label>

          <input type="radio" name="tab_item" id="tab_radio_I" class="tab_radio">
          <label for="tab_radio_I" class="tab_menu">演習室</label>
          
           <input type="radio" name="tab_item" id="tab_radio_J" class="tab_radio">
          <label for="tab_radio_J" class="tab_menu">パソコン室</label>
          
          <input type="radio" name="tab_item" id="tab_radio_K" class="tab_radio">
          <label for="tab_radio_K" class="tab_menu">運動場</label>

          <input type="radio" name="tab_item" id="tab_radio_L" class="tab_radio">
          <label for="tab_radio_L" class="tab_menu">よく使う教室</label>

          <input type="radio" name="tab_item" id="tab_radio_M" class="tab_radio">
          <label for="tab_radio_M" class="tab_menu">職員室</label>

          <input type="radio" name="tab_item" id="tab_radio_N" class="tab_radio">
          <label for="tab_radio_N" class="tab_menu">準備室</label>

          <input type="radio" name="tab_item" id="tab_radio_O" class="tab_radio">
          <label for="tab_radio_O" class="tab_menu">その他</label>

          

          <!-- タブnot_2 表示内容 -->

          <div id="tab_contains_not_2" class="tab_contains">
              <% bunbetsu = @classrooms.where(bunbetsu:'特殊') %>
              <% yoso = bunbetsu.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% room =  bunbetsu[a].kyousitsu %>
              <% room_id = bunbetsu[a].id %>


              <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
           </div>


        
            <!-- タブH 表示内容 -->

            <div id="tab_contains_H" class="tab_contains">
            <% bunbetsu = @classrooms.where(bunbetsu:'〇年〇組教室') %>
            <% yoso = bunbetsu.length %>
            <% a = 0 %>
            <% yoso.times do %>
             
             <% room =  bunbetsu[a].kyousitsu %>
             <% room_id = bunbetsu[a].id %>
             <% if a % 4 == 0 && a != 0 %>
             <br>
             <% end %>

             <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
             <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

              <% a += 1 %>
            <% end %>
          </div>
          
          <!-- タブI 表示内容 -->

          <div id="tab_contains_I" class="tab_contains">
            <% bunbetsu = @classrooms.where(bunbetsu:'演習室') %>
            <% yoso = bunbetsu.length %>
            <% a = 0 %>
            <% yoso.times do %>
            
            <% room =  bunbetsu[a].kyousitsu %>
            <% room_id = bunbetsu[a].id %>

            <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
            <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

              <% a += 1 %>
            <% end %>
        </div>

        <!-- タブJ 表示内容 -->

        <div id="tab_contains_J" class="tab_contains">
            <% bunbetsu = @classrooms.where(bunbetsu:'パソコン室') %>
            <% yoso = bunbetsu.length %>
            <% a = 0 %>
            <% yoso.times do %>
            
            <% room =  bunbetsu[a].kyousitsu %>
            <% room_id = bunbetsu[a].id %>

            <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
            <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

              <% a += 1 %>
            <% end %>
        </div>
          
            <!-- タブK 表示内容 -->

        <div id="tab_contains_K" class="tab_contains">
          <% bunbetsu = @classrooms.where(bunbetsu:'運動場') %>
          <% yoso = bunbetsu.length %>
          <% a = 0 %>
          <% yoso.times do %>
           
           <% room =  bunbetsu[a].kyousitsu %>
           <% room_id = bunbetsu[a].id %>


           <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
           <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

            <% a += 1 %>
          <% end %>
        </div>

          <!-- タブL 表示内容 -->

         <div id="tab_contains_L" class="tab_contains">
          <% bunbetsu = @classrooms.where(bunbetsu:'よく使う教室') %>
          <% yoso = bunbetsu.length %>
          <% a = 0 %>
          <% yoso.times do %>
           
           <% room =  bunbetsu[a].kyousitsu %>
           <% room_id = bunbetsu[a].id %>


           <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
           <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

            <% a += 1 %>
          <% end %>
        </div>

          <!-- タブM 表示内容 -->

         <div id="tab_contains_M" class="tab_contains">
              <% bunbetsu = @classrooms.where(bunbetsu:'職員室') %>
              <% yoso = bunbetsu.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% room =  bunbetsu[a].kyousitsu %>
              <% room_id = bunbetsu[a].id %>

              <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
         </div>

          <!-- タブN 表示内容 -->

          <div id="tab_contains_N" class="tab_contains">
              <% bunbetsu = @classrooms.where(bunbetsu:'準備室') %>
              <% yoso = bunbetsu.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% room =  bunbetsu[a].kyousitsu %>
              <% room_id = bunbetsu[a].id %>


              <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
           </div>

          <!-- タブO 表示内容 -->

          <div id="tab_contains_O" class="tab_contains">
              <% bunbetsu = @classrooms.where(bunbetsu:'その他') %>
                <% yoso = bunbetsu.length %>
                <% a = 0 %>
              <% yoso.times do %>
                
                <% room =  bunbetsu[a].kyousitsu %>
                <% room_id = bunbetsu[a].id %>

                <% if a % 6 == 0 && a != 0 %>
                <br>
                <% end %>

                <input type="radio" value="<%= room_id %>" name="timetable[classroom_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :kyousitsu, "#{room}", {style: "display: inline-block;"} %>
  
                  <% a += 1 %>
                <% end %>
           </div>
           

          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="classroombutton">決定</button>
          </div>
        </div>
      </div>
    </div>

  





  <div class="field">
    <%= form.label :〇先生 %>
    <div id="selectkyosi">
    ※先生を選択してください。
    </div>
  </div>

  <div class="button">
  <button type="button" class="" data-toggle="modal" data-target="#sampleModal2" >
	先生を選択
  </button>
  </div>

    <!-- モーダル・ダイアログ -->
    <div class="modal fade" id="sampleModal2" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            <h4 class="modal-title">～先生を選択～</h4>
          </div>
          <div class="modal-body">

          <!-- タブメニュー -->

          <input type="radio" name="tab_item" id="tab_radio_not_3" class="tab_radio">
          <label for="tab_radio_not_3" class="tab_menu">特殊</label>

          <input type="radio" name="tab_item" id="tab_radio_P" class="tab_radio">
          <label for="tab_radio_P" class="tab_menu">総務部</label>
          
           <input type="radio" name="tab_item" id="tab_radio_Q" class="tab_radio">
          <label for="tab_radio_Q" class="tab_menu">教務部</label>
          
          <input type="radio" name="tab_item" id="tab_radio_R" class="tab_radio">
          <label for="tab_radio_R" class="tab_menu">生徒指導部</label>

          <input type="radio" name="tab_item" id="tab_radio_S" class="tab_radio">
          <label for="tab_radio_S" class="tab_menu">進路指導部</label>

          <input type="radio" name="tab_item" id="tab_radio_T" class="tab_radio">
          <label for="tab_radio_T" class="tab_menu">保健相談部</label>

          <input type="radio" name="tab_item" id="tab_radio_U" class="tab_radio">
          <label for="tab_radio_U" class="tab_menu">図書視聴覚部</label>

          <input type="radio" name="tab_item" id="tab_radio_V" class="tab_radio">
          <label for="tab_radio_V" class="tab_menu">商業部</label>

          <input type="radio" name="tab_item" id="tab_radio_W" class="tab_radio">
          <label for="tab_radio_W" class="tab_menu">事務</label>

          <input type="radio" name="tab_item" id="tab_radio_X" class="tab_radio">
          <label for="tab_radio_X" class="tab_menu">PTA,高野連</label>

          <input type="radio" name="tab_item" id="tab_radio_Y" class="tab_radio">
          <label for="tab_radio_Y" class="tab_menu">非常勤務</label>

          <input type="radio" name="tab_item" id="tab_radio_Z" class="tab_radio">
          <label for="tab_radio_Z" class="tab_menu">校医,薬剤師</label>



          <!-- タブnot_3 表示内容 -->

          <div id="tab_contains_not_3" class="tab_contains">
              <% busyo = @teachers.where(busyo: '特殊') %>
              <% yoso = busyo.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% kyosi =  busyo[a].sensei %>
              <% kyosi_id = busyo[a].id %>

              <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
          </div>
              

          
          
              <!-- タブP 表示内容 -->

              <div id="tab_contains_P" class="tab_contains">
                <% busyo = @teachers.where(busyo:'総務部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>
              
              <!-- タブQ 表示内容 -->

              <div id="tab_contains_Q" class="tab_contains">
                <% busyo = @teachers.where(busyo:'教務部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>
          
              <!-- タブR 表示内容 -->

              <div id="tab_contains_R" class="tab_contains">
                <% busyo = @teachers.where(busyo:'生徒指導部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>

              <!-- タブS 表示内容 -->

              <div id="tab_contains_S" class="tab_contains">
                <% busyo = @teachers.where(busyo:'進路指導部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>

              <!-- タブT 表示内容 -->

              <div id="tab_contains_T" class="tab_contains">
                <% busyo = @teachers.where(busyo:'保健相談部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>

              <!-- タブU 表示内容 -->

              <div id="tab_contains_U" class="tab_contains">
                <% busyo = @teachers.where(busyo:'図書視聴覚部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>

              <!-- タブV 表示内容 -->

              <div id="tab_contains_V" class="tab_contains">
                <% busyo = @teachers.where(busyo:'商業部') %>
                <% yoso = busyo.length %>
                <% a = 0 %>
                <% yoso.times do %>
                
                <% kyosi =  busyo[a].sensei %>
                <% kyosi_id = busyo[a].id %>

                <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
                <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                  <% a += 1 %>
                <% end %>
              </div>
       
             <!-- タブW 表示内容 -->

            <div id="tab_contains_W" class="tab_contains">
              <% busyo = @teachers.where(busyo:'事務') %>
              <% yoso = busyo.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% kyosi =  busyo[a].sensei %>
              <% kyosi_id = busyo[a].id %>

              <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
            </div>

             <!-- タブX 表示内容 -->

            <div id="tab_contains_X" class="tab_contains">
              <% busyo = @teachers.where(busyo:'PTA,高野連') %>
              <% yoso = busyo.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% kyosi =  busyo[a].sensei %>
              <% kyosi_id = busyo[a].id %>

              <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
            </div>

              <!-- タブY 表示内容 -->

            <div id="tab_contains_Y" class="tab_contains">
              <% busyo = @teachers.where(busyo:'非常勤務') %>
              <% yoso = busyo.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% kyosi =  busyo[a].sensei %>
              <% kyosi_id = busyo[a].id %>

              <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
            </div>

            <!-- タブZ 表示内容 -->

            <div id="tab_contains_Z" class="tab_contains">
              <% busyo = @teachers.where(busyo:'校医,薬剤師') %>
              <% yoso = busyo.length %>
              <% a = 0 %>
              <% yoso.times do %>
              
              <% kyosi =  busyo[a].sensei %>
              <% kyosi_id = busyo[a].id %>

              <input type="radio" value="<%= kyosi_id %>" name="timetable[teacher_id]" id="tabkyo" class="tab_radio_2" >
              <%= form.label :sensei, "#{kyosi}", {style: "display: inline-block;"} %>

                <% a += 1 %>
              <% end %>
            </div>

            

          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="teacherbutton">決定</button>
          </div>
        </div>
      </div>
    </div>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
var hash_title = {
<% Title.all.each do |t| %> 
  '<%= t.id %>':'<%= t.kyouka %>',
<% end %>
}
</script>

<script>
var hash_class = {
<% Classroom.all.each do |c| %> 
  '<%= c.id %>':'<%= c.kyousitsu %>',
<% end %>
}
</script>

<script>
var hash_teacher = {
<% Teacher.all.each do |t| %> 
  '<%= t.id %>':'<%= t.sensei %>',
<% end %>
}
</script>

<script>
    $('#titlebutton').click(function() {
    
      const str1 = $('input:radio[name="timetable[title_id]"]:checked').val();
    
    $("#selectkyoka").text(hash_title[str1]);
    
    })
</script>

<script>
    $('#classroombutton').click(function() {
    
      const str1 = $('input:radio[name="timetable[classroom_id]"]:checked').val();
    
    $("#selectroom").text(hash_class[str1]);
    
    })
</script>

<script>
    $('#teacherbutton').click(function() {
    
      const str1 = $('input:radio[name="timetable[teacher_id]"]:checked').val();

    
    $("#selectkyosi").text(hash_teacher[str1]);
    
    })
</script>
