<p id="notice"><%= notice %></p>

<h1>Timetables</h1>

<table>
  <thead>
    <tr>
      <th>学年</th>
      <th>クラス</th>
      <th>日付</th>
      <th>時間割</th>
      <th>教科</th>
      <th>内容</th>
      <th>課題</th>
      <th>必要なもの</th>
      <th>教室</th>
      <th>先生</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.grade_id %></td>
        <td><%= timetable.gclass_id %></td>
        <td><%= timetable.hiduke %></td>
        <td><%= timetable.timed %></td>
        <td><%= timetable.title %></td>
        <td><%= timetable.content %></td>
        <td><%= timetable.task %></td>
        <td><%= timetable.need %></td>
        <td><%= timetable.classroom %></td>
        <td><%= timetable.teacher %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
