<p id="notice"><%= notice %></p>

<h5>ここのページでは出商の時間割が閲覧できます</h5>
<h1>連絡黒板</h1>
<%= link_to 'topに戻る', "/" %>

<% week = ["日","月","火","水","木","金","土"] %>
<% count = 1 %>
<% hidukecount = 1 %>
<% gakuhozon = 0 %>
<% kumihozon = 0 %>
<% hidukehozon = 0 %>



<% @timetables.each do |timetable| %>
      
   
    <% if gakuhozon != timetable.grate.gakunen or kumihozon != timetable.gclass.kumi %>
      <% count = 1 %>
    <% end %>

    <% if hidukehozon != timetable.hiduke %>
      <% hidukecount = 1 %>
    <% end %>


    <% if count == 1 %>

          <% gakuhozon = timetable.grate.gakunen %>
          <% kumihozon = timetable.gclass.kumi %>
         

          <table border = "1" align = "center">
            
              <thead>
                <tr>
                  <th>時限</th>
                  <th>教科</th>
                  <th>内容</th>
                  <th>課題</th>
                  <th>必要なもの</th>
                  <th>教室</th>
                  <th>先生</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody align = "center">

              <% if hidukecount == 1 %>  
                  <h3 align = "center"><%= timetable.hiduke %>(<%= week[timetable.hiduke.wday] %>)</h3>
                  <% hidukecount = 0 %>
                  <% hidukehozon = timetable.hiduke %>
              <% end %>

              <h3 align = "center"><%= timetable.grate.gakunen %>-<%= timetable.gclass.kumi %></h3>
              <% count = 0 %>

          <% end %>

          

          <tr>  
            <td><%= timetable.clock.zigen %></td>
            <td class="kyouka"><%= timetable.title.kyouka %></td>
            <td><%= timetable.content %></td>
            <td><%= timetable.task %></td>
            <td><%= timetable.need %></td>
            <td><%= timetable.classroom.kyousitsu %></td>
            <td><%= timetable.teacher.sensei %></td>
            <% if session[:login] == true %>
            <td><%= link_to '編集', edit_timetable_path(timetable) %></td>
            <% end %>
            <!-- <td><%= link_to '削除', timetable, method: :delete, data: { confirm: '本当に削除しますか？' } %></td> -->
          </tr>

    <% end %>
    </tbody>
    </table>
  <br>

  
  <% if session[:login] == true %>
  <%= link_to '新規作成', new_timetable_path %>
  <%= button_to "全て削除", destroy_all_timetables_path, method: :delete, data: { confirm: '本当に全て削除しますか？(※データ量に応じて時間がかかります）' } %>
  <% end %>