<h1>新規作成</h1>

<%= form_with(model: @timetable, local: true) do |form| %>

  
 <%=  date_field_tag :fromdate, Date.today, use_month_numbers: true %>
   から
 <%=  date_field_tag :fromdate_two, Date.today, use_month_numbers: true %>
   までの時間割を作成
   <br>
   ※この処理には時間がかかります
    <div class="actions">
      <%= form.submit "作成開始" %>
    </div>
  <% end %>
  

<%= link_to '戻る', timetables_path %>
