<h1>新規作成</h1>

<%= form_with(model: @timetable, local: true) do |form| %>

  
 <%=  date_field_tag :fromdate, Date.today, use_month_numbers: true %>
 <span>から</span>
 <%=  date_field_tag :fromdate_two, Date.today, use_month_numbers: true %>
   <span>までの時間割を作成</span>
   <br>
   <span>※この処理には時間がかかります</span>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  
<button><%= link_to '戻る', timetables_path %></button>
