<p id="notice"><%= notice %></p>


<% yobi = ["日","月","火","水","木","金","土"] %>
<h4>
  <%= @timetable.hiduke %>(<%= yobi[@timetable.hiduke.wday] %>)
</h4>

<h4>
  <%= @timetable.clock.zigen %>目
</4>

<p>
  <strong>学年:</strong>
  <%= @timetable.grate.gakunen %>年
</p>

<p>
  <strong>クラス:</strong>
  <%= @timetable.gclass.kumi %>組
</p>


<p>
  <strong>教科名:</strong>
  <%= @timetable.title.kyouka %>
</p>

<p>
  <strong>内容:</strong>
  <%= @timetable.content %>
</p>

<p>
  <strong>課題:</strong>
  <%= @timetable.task %>
</p>

<p>
  <strong>必要なもの:</strong>
  <%= @timetable.need %>
</p>

<p>
  <strong>教室:</strong>
  <%= @timetable.classroom.kyousitsu %>
</p>

<p>
  <strong>先生:</strong>
  <%= @timetable.teacher.sensei %>
</p>

<p><%= link_to '編集し直す', edit_timetable_path(@timetable) %> |
<%= link_to '戻る', timetables_path %></p>
