<h4 id="notice"><%= notice %></h4>


<% yobi = ["日","月","火","水","木","金","土"] %>
<h3>
  <%= @timetable.hiduke %>(<%= yobi[@timetable.hiduke.wday] %>)
</h3>

<h3>
  <%= @timetable.clock.zigen %>目
</3>

<h3>
  <strong>学年:</strong>
  <%= @timetable.grate.gakunen %>年
</h3>

<h3>
  <strong>クラス:</strong>
  <%= @timetable.gclass.kumi %>組
</h3>


<h3>
  <strong>教科名:</strong>
  <%= @timetable.title.kyouka %>
</h3>

<h3>
  <strong>内容:</strong>
  <%= @timetable.content %>
</h3>

<h3>
  <strong>課題:</strong>
  <%= @timetable.task %>
</h3>

<h3>
  <strong>必要なもの:</strong>
  <%= @timetable.need %>
</h3>

<h3>
  <strong>教室:</strong>
  <%= @timetable.classroom.kyousitsu %>
</h3>

<h3>
  <strong>先生:</strong>
  <%= @timetable.teacher.sensei %>
</h3>

<h4><button><%= link_to '編集し直す', edit_timetable_path(@timetable) %></button> |
<button><%= link_to '戻る', timetables_path %></button></h4>
