<div class="title">
  <img src="/images/title.png" width="380px" height="80px">
</div>



<h2><span class="text-combine"><font face="UD デジタル 教科書体 N-B"><%= @today.mon %></span>月 <span class="text-combine"><%= @today.day %></span>日 「<%= @yobi %>曜日」 日直</font></h2>

<div class="example">
  <%= link_to image_tag("/images/ks.png") ,"../timetables" ,:size =>'180x100' %>
</div>

<div class="example2">
<%= link_to image_tag("/images/kd.png") ,"../plans" %>
</div>

<div class="example3">
  <%= link_to image_tag("") ,"../meyasus" %>
</div>

<div class="login">
  <% if session[:login] == true %>
    <button><%= link_to 'ログインアウト' , home_logout_path %></button>
    <br>
    <%= link_to '時間割テンプレートを表示', "../temples" %>
  <% else %>
  <button><%= link_to 'ログイン' , home_login_path %></button>
  <% end %>
</div>