<div class="title">
  <img src="/images/title.png" width="380px" height="80px">
</div>

<h2><span class="text-combine"><font face="UD デジタル 教科書体 N-B"><%= @today.mon %></span>月 <span class="text-combine"><%= @today.day %></span>日 「<%= @yobi %>曜日」</font></h2>

<div class="example">
  <%= link_to image_tag("/images/kesi.png") ,"../timetables" ,:size =>'180x100' %>
</div>

<div class="example2">
  <%= link_to image_tag("/images/km.png") ,"../plans" %>
</div>

<div class="example3">
  <img src="/images/cami.png" width="180px">
  <p><%= link_to '課題提出', users_path %></p>
</div>
