<!DOCTYPE html>
<html>

    <h1>トップページ</h1>
    <ul><%= link_to '学年テーブルへ', grates_path %></ul>
    <ul><%= link_to 'クラステーブルへ', gclasses_path %></ul>
    <ul><%= link_to '時間割テーブルへ', timetables_path %></ul>
    <ul><%= link_to 'ユーザーテーブルへ', users_path %></ul>
    <ul><%= link_to '教科テーブルへ', subjects_path %></ul>
    <ul><%= link_to '先生テーブルへ', teachers_path %></ul>
    <ul><%= link_to '教室テーブルへ', classrooms_path %></ul>
    <ul><%= link_to '教科テーブルへ', titles_path %></ul>

    <%= @today %> (<%= @yobi %>)
</html>