    <h1>CBboard</h1>
    <h2><span class="text-combine"><%= @today.mon %></span>月 <span class="text-combine"><%= @today.day %></span>日 「<%= @yobi %>曜日」</h2>

    <div class="example">
      <img src="/images/kokubankesi.png">
      <p><%= link_to '時間割テーブルへ', timetables_path %></p>
    </div>

    <div class="example2">
    <img src="/images/kami.png">
    <p><%= link_to '月間行事予定', gclasses_path %></p>
    </div>

    <div class="example3">
    <img src="/images/kami.png">
    <p><%= link_to '課題提出', users_path %></p>
    </div>