<p id="notice"><%= notice %></p>
<thead>
  <h1><font face="UD デジタル 教科書体 N-B">目安箱</h1>
<<<<<<< HEAD
  <%= link_to 'topに戻る', "/" %>

  <div class="put">
  <h3>入力欄</h3>
=======
</thead>
>>>>>>> 23c1854afbce30eaa3eb72208d65a658663a3233

<tbody>
  <p>内容:</p>
  <%= form_tag({controller: :meyasus,action: :create}) do %>
  <textarea name="freeans" rows="4" cols="40"></textarea>
  <br>
  <input type="submit" value="送信する"><input type="reset" value="リセット">
  <br>
  <% end %>
<<<<<<< HEAD
  </div>
=======
<tbody>
>>>>>>> 23c1854afbce30eaa3eb72208d65a658663a3233

  <% if session[:login] == true %>

  <div class="box">
    <table>
<<<<<<< HEAD
    <h3>送信された意見</h3>
      <% @meyasus.each do |meyasu| %>
        <tr>
        <td>・<%= meyasu.content %></td>
        <td><%= link_to '削除', meyasu, method: :delete, data: { confirm: '本当によろしいですか?' } %></td>
        </tr>
      <% end %>
=======
      <p>送信された意見</p>
        <% @meyasus.each do |meyasu| %>
          <td><%= meyasu.content %></td>
          <td><%= link_to '削除', meyasu, method: :delete, data: { confirm: '本当によろしいですか?' } %></td>
        <% end %>
>>>>>>> 23c1854afbce30eaa3eb72208d65a658663a3233
    </table>
  <% else %>
    <h6>・学校生活で改善してほしいこと、意見などをご自由にお書きください。</h6>
    <h6>・不適切な内容が含まれる場合は送信できません。</h6>
    <h6>・送信された内容はログインユーザーのみが確認できます。</h6>
  <% end %>
<<<<<<< HEAD
  </div>

  
=======
  <p>入力例:</p>
  <p>　・スマホを使わせてほしい</p>
  <p>　・昼休みの時間をあと５分増やしてほしい</p>
  <p>　　　　　　　　　　　　　　　　　etc…</p>
  <p></p>
  <%= link_to 'topに戻る', "/" %>
>>>>>>> 23c1854afbce30eaa3eb72208d65a658663a3233
