<p id="notice"><%= notice %></p>

<h1>目安箱</h1>

<table>
  <thead>
    <tr>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meyasus.each do |meyasu| %>
      <tr>
        <td><%= meyasu.content %></td>
        <td><%= link_to '詳細', meyasu %></td>
        <td><%= link_to '編集', edit_meyasu_path(meyasu) %></td>
        <td><%= link_to '削除', meyasu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規追加', new_meyasu_path %>
