<p id="notice"><%= notice %></p>
  <h1><font face="UD デジタル 教科書体 N-B">目安箱</h1>
  <p>内容:</p>

  <%= form_tag({controller: :meyasus,action: :create}) do %>
  <textarea name="freeans" rows="4" cols="40"></textarea>
  <br>
  <input type="submit" value="送信する"><input type="reset" value="リセット">
  <br>
  <% end %>

  <% if session[:login] == true %>

    <table>
    <p>送信された意見</p>
      <% @meyasus.each do |meyasu| %>
        <tr>
          <td><%= meyasu.content %></td>
          <td><%= link_to '削除', meyasu, method: :delete, data: { confirm: '本当によろしいですか?' } %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= link_to 'topに戻る', "/" %>