<p id="notice"><%= notice %></p>

<div style="position:absolute; top:90%;">
<button><%= link_to 'Home', "/" %></button>
</div>

<div style="position:absolute; top:20%; left:32%">
  <img src="/images/planT.png">
</div>

<div class="ex">
  <%= link_to image_tag('/images/har.png', width: "400px"), '/images/4-6month.pdf' %>
</div>

<div class="ex2">
  <%= link_to image_tag('/images/nat.png', width: "450px"), '/images/7-9month.pdf' %>
</div>

<div class="ex3">
  <%= link_to image_tag('/images/ak.png', width: "370px"), '/images/10-12month.pdf' %>
</div>

<div class="ex4">
  <%= link_to image_tag('/images/huy.png', width: "400px"), '/images/1-3month.pdf' %>
</div>

<div class = "year">
  西暦<%= @year.year %>年
</div>


<% if session[:login] == true %>

<div class = "yoteipdf" >

<%= form_tag({controller: :plans,action: :upload},{:multipart => true }) do %>

<span>月間行事予定のpdfを変更する場合はこちら</span><br>
<span>月:</span><select name="month">
<option value="1">４～６月</option>
<option value="2">７～９月</option>
<option value="3">１０～１２月</option>
<option value="4">１～３月</option>
<input type="file"  name="images" accept=".pdf">
<br>
<input type="submit" value="更新">
<% end %>

<% end %>
