<p id="notice"><%= notice %></p>

<h1>月間別行事予定</h1>

<p><%= link_to '1・2・3月予定表', plans_path %></p>
<p><%= link_to '4・5・6月予定表', plans_path %></p>
<p><%= link_to '7・8・9月予定表', plans_path %></p>
<p><%= link_to '10・11・12月予定表', plans_path %></p>
