<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :テスト範囲 %>
    <%= form.text_area :range, id: :test_range %>
  </div>

  <div class="field">
    <%= form.label :提出物 %>
    <%= form.text_area :submit, id: :test_submit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
