<p id="notice"><%= notice %></p>

<h1>テスト</h1>

<table>
  <thead>
    <tr>
      <th>テスト範囲</th>
      <th>提出物</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.range %></td>
        <td><%= test.submit %></td>
        <td><%= link_to '詳細', test %></td>
        <td><%= link_to '編集', edit_test_path(test) %></td>
        <td><%= link_to '削除', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_test_path %>
