<p id="notice"><%= notice %></p>

<h1>テスト</h1>

<button><%= link_to '戻る', "/timetables" %></button>
<% if session[:login] == true %>
<%= button_to "初期化", destroy_all_tests_path, method: :delete, data: { confirm: '本当に初期化しますか？' } %>
<% end %>


  <thead></thead>

  <tbody>

  <% count = 1 %>
  <% testkyo = "テスト" %>
  <% check = 1 %>
  <% check_1 = 0 %>
  <% check_2 = 0 %>
  <% check_3 = 0 %>
  <% check_4 = 0 %>




  <% Grate.all.each do |gaku| %>
  
    <% Gclass.all.each do |kumi| %>
  
      <% if count % 2 == 0 %>
        <% if count % 4 == 0 %>
          <% target = "#{gaku.gakunen}年「情報処理科」" %>
        <% else %>
          <% target = "#{gaku.gakunen}年「商業科」" %>
        <% end %>

      <a href='#<%= target %>' class="">
         <%= target %>
      </a>
      <br>
      <% end %>
  
      <% count += 1 %>

    <% end %>
  
  <% end %>

  <% count = 1 %>


  <% Grate.all.each do |gaku| %>

          <h3><%= gaku.gakunen%>年「商業科」</h3>

      <% Gclass.all.each do |kumi| %>

            <% if count % 4 == 0 %>
              <h3><%= gaku.gakunen%>年「情報処理科」</h3>
            <% end %>

          <% if count % 2 == 0 %>

              <% while check == 1 do %>

                      <% title = @titles.where(test:"#{testkyo}") %>
                      <% yoso = title.length %>
                      <% a = 0 %>

                    <% yoso.times do %>

                      <% if count % 4 != 0 %>
                        <h5>〇<%= title[a].kyouka %>・・・<%= gaku.gakunen%>年「商業科」</h5>
                      <% else %>
                        <h5>〇<%= title[a].kyouka %>・・・<%= gaku.gakunen%>年「情報処理科」</h5>
                      <% end %>
                     

                      <% test = Test.find_by(title_id: title[a].id) %>

                      <% if test.nil? %>
                        <% test = Test.new(title_id: title[a].id) %>
                      <% end %>

                      <%= form_with(model: test, local: true) do |form| %>

                  
                        <table border="1">
        
                        <tr>
                        <td align = "center">テスト範囲</td>
                        <td align = "center">提出課題</td>
                        </tr>

                            <tr>               
                              <td>
                                <div class="FlexTextarea">
                                  <div class="FlexTextarea__dummy" aria-hidden="true"></div>
                                  <% if session[:login] == true %>
                                  <%= form.text_area :range,{ id:"FlexTextarea", class:"FlexTextarea__textarea",disabled: false } %>
                                  <% else %>
                                  <%= form.text_area :range,{ id:"FlexTextarea", class:"FlexTextarea__textarea",disabled: true } %>
                                  <% end %>
                                </div>
                              </td>
                              <td>
                                <div class="FlexTextarea">
                                  <div class="FlexTextarea__dummy" aria-hidden="true"></div>
                                  <% if session[:login] == true %>
                                  <%= form.text_area :submit,{ id:"FlexTextarea", class:"FlexTextarea__textarea",disabled: false } %>
                                  <% else %>
                                  <%= form.text_area :submit,{ id:"FlexTextarea", class:"FlexTextarea__textarea",disabled: true } %>
                                  <% end %>
                                </div>
                              </td>

                              <% if session[:login] == true %>
                              <td><%= form.submit "更新" %><%= form.hidden_field :title_id, :value => test.title_id %></td>
                              <% end %>
                            </tr>  
                            </table>

                      <% end %>

                      <% a += 1 %>

                    <% end %>
                    
                        <% if gaku.gakunen == "1" && check_1 == 0 %>
                          <% testkyo = "１年" %>
                          <% check_1 = 1 %>
                        <% elsif gaku.gakunen != "3" && check_2 == 0 %>
                          <% testkyo = "１年２年" %>
                          <% check_2 = 1 %>
                        <% elsif gaku.gakunen == "3" && check_1 == 0 %>
                          <% testkyo = "３年" %>
                          <% check_1 = 1 %>
                        <% elsif count % 4 == 0 && gaku.gakunen != "3" && check_3 == 0 %>
                          <% testkyo = "１～２年情報処理科" %>
                          <% check_3 = 1 %>
                        <% elsif  count % 4 == 0 && gaku.gakunen == "2" && check_4 == 0 %>
                          <% testkyo = "２年情報処理" %>
                          <% check_4 = 1 %>       
                        <% elsif  count % 4 == 0 && gaku.gakunen == "3" && check_2 == 0 %>
                          <% testkyo = "３年情報処理科" %>
                          <% check_2 = 1 %>                        
                        <% elsif gaku.gakunen == "3" && kumi.kumi != "4" && check_2 == 0 %>
                          <% testkyo = "３年商業科" %>
                          <% check_2 = 1 %>
                        <% else %>
                          <% check = 0 %>
                          <% testkyo = "テスト" %>
                        <% end %>

              <% end %>
               
          <% end %>

             <% count += 1 %>
             <% check = 1 %>
             <% check_1 = 0 %>
             <% check_2 = 0 %>
             <% check_3 = 0 %>
             <% check_4 = 0 %>
             </table>

      <% end %>
  <% end %>
  
  </tbody>


<br>



<script>
function flexTextarea(el) {
    const dummy = el.querySelector('.FlexTextarea__dummy')
    el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
      dummy.textContent = e.target.value + '\u200b'
    })
  }
  
  document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>
