<p id="notice"><%= notice %></p>

<h1>テスト</h1>


  <thead></thead>

  <tbody>

  <% count = 1 %>
  <% testkyo = "テスト" %>
  <% check = 1 %>
  <% check_1 = 0 %>
  <% check_2 = 0 %>
  <% check_3 = 0 %>
  <% check_4 = 0 %>

  <% Grate.all.each do |gaku| %>

          <h5><%= gaku.gakunen%>年「商業科」</h5>

      <% Gclass.all.each do |kumi| %>

            <% if count % 4 == 0 %>
              <h5><%= gaku.gakunen%>年「情報処理科」</h5>
            <% end %>

          <% if count % 2 == 0 %>
                  
                 
                 

              <% while check == 1 do %>

                      <% title = @titles.where(test:"#{testkyo}") %>
                      <% yoso = title.length %>
                      <% a = 0 %>

                    <% yoso.times do %>

                      <h5><%= title[a].kyouka %></h5>

                      <table border="1">
      
                      <tr>
                      <td>テスト範囲</td>
                      <td>提出課題</td>
                      </tr>

                          <tr>               
                            <td>
                              <div class="FlexTextarea">
                                <div class="FlexTextarea__dummy" aria-hidden="true"></div>
                                <textarea id="FlexTextarea" class="FlexTextarea__textarea"></textarea>
                              </div>
                            </td>
                            <td>
                              <div class="FlexTextarea">
                                <div class="FlexTextarea__dummy" aria-hidden="true"></div>
                                <textarea id="FlexTextarea" class="FlexTextarea__textarea"></textarea>
                              </div>
                            </td>
                            <% if session[:login] == true %>
                            <td><%= link_to '編集', edit_timetable_path(timetable) %></td>
                            <% end %>
                          </tr>  
                          </table>
                          
                          
                          <% a += 1 %>
                                                            
                    <% end %>


                        <% if gaku.gakunen == "1" && check_1 == 0 %>
                          <% testkyo = "１年" %>
                          <% check_1 = 1 %>
                        <% elsif gaku.gakunen != "3" && check_2 == 0 %>
                          <% testkyo = "１年２年" %>
                          <% check_2 = 1 %>
                        <% elsif gaku.gakunen == "3" && check_1 == 0 %>
                          <% testkyo = "３年" %>
                          <% check_1 = 1 %>
                        <% elsif count % 4 == 0 && gaku.gakunen != "3" && check_3 == 0 %>
                          <% testkyo = "１～２年情報処理科" %>
                          <% check_3 = 1 %>
                        <% elsif  count % 4 == 0 && gaku.gakunen == "2" && check_4 == 0 %>
                          <% testkyo = "２年情報処理" %>
                          <% check_4 = 1 %>       
                        <% elsif  count % 4 == 0 && gaku.gakunen == "3" && check_2 == 0 %>
                          <% testkyo = "３年情報処理科" %>
                          <% check_2 = 1 %>                        
                        <% elsif gaku.gakunen == "3" && kumi.kumi != "4" && check_2 == 0 %>
                          <% testkyo = "３年商業科" %>
                          <% check_2 = 1 %>
                        <% else %>
                          <% check = 0 %>
                          <% testkyo = "テスト" %>
                        <% end %>

              <% end %>
               
          <% end %>

             <% count += 1 %>
             <% check = 1 %>
             <% check_1 = 0 %>
             <% check_2 = 0 %>
             <% check_3 = 0 %>
             <% check_4 = 0 %>
             </table>

      <% end %>
  <% end %>
  

                                  <!-- <th colspan="3"></th>
                                    
                                    <% @tests.each do |test| %>
                                      <tr>
                                        <td><%= test.range %></td>
                                        <td><%= test.submit %></td>
                                        <td><%= link_to '詳細', test %></td>
                                        <td><%= link_to '編集', edit_test_path(test) %></td>
                                        <td><%= link_to '削除', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                      </tr>
                                    <% end %> -->

  </tbody>


<br>

<%= link_to '新規作成', new_test_path %>

<script>
function flexTextarea(el) {
    const dummy = el.querySelector('.FlexTextarea__dummy')
    el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
      dummy.textContent = e.target.value + '\u200b'
    })
  }
  
  document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>
