<p id="notice"><%= notice %></p>

<p>
  <strong>テスト範囲:</strong>
  <%= @test.range %>
</p>

<p>
  <strong>提出物:</strong>
  <%= @test.submit %>
</p>

<%= link_to '編集', edit_test_path(@test) %> |
<%= link_to '戻る', tests_path %>
