<!DOCTYPE html>
<html class = "<%= controller.controller_name %>">
  <head>
    <title>CBboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:login] == true %>
    <div class="logme"><%=  flash[:message] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
