<!DOCTYPE html>
<html class = "<%= controller.controller_name %>">
  <head>
    <title>CBboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- <div class="logme"><%=  flash[:message] %></div> -->
   
    <% if session[:login] == true %>
      <div class="logme">※教員としてログイン中です</div>
    <% elsif session[:login_2] == true %>
      <div class="logme">※生徒としてログイン中です</div>
    <% end %>

    <%= yield %>
    
  </body>
</html>
