<p id="notice"><%= notice %></p>

<p>
  <% yobi = ["月","火","水","木","金"] %>
  <%= yobi[@temple.week.to_i-1] %>曜日
</p>

<h4><%= @temple.clock.zigen %></h4>

<p>
  <strong>学年:</strong>
  <%= @temple.grate.gakunen %>年
</p>

<p>
  <strong>組:</strong>
  <%= @temple.gclass.kumi %>組
</p>

<p>
  <strong>教科名:</strong>
  <%= @temple.title.kyouka %>
</p>

<p>
  <strong>教室:</strong>
  <%= @temple.classroom.kyousitsu %>
</p>

<p>
  <strong>先生:</strong>
  <%= @temple.teacher.sensei %>
</p>

<!-- <%= link_to '編集', edit_temple_path(@temple) %> | -->
<%= link_to '戻る', temples_path %>
